# ENSEMBLING OF THE TWO RESULTS

In the combo.ipynb notebook I have calculated the log-loss of the various ensembles.
I will be picking the one which has done best in the 2014-2017 data.

And to remind that we have only 2 submissions

from combo.ipynb file we can see we can get 0.4438 with 0.65 pred_reg and 0.35 pred_stats.

I am not yet decided which two I have to select

In [1]:
import numpy as np
import pandas as pd

from sklearn.metrics import log_loss

In [2]:
stats=pd.read_csv("dont_trust_reg_stage2.csv")
stats_ensemble=pd.read_csv("dont_trust_reg_lr_xgb_stage2.csv")

reg=pd.read_csv("Trying_something_new_stage2.csv")
reg_ensemble=pd.read_csv("Trying_something_new_ensemble_stage2.csv")
stats.columns

Index(['ID', 'Pred'], dtype='object')

## 0.65 and 0.35  ensemble

In [3]:
ensemble=pd.DataFrame()
ensemble['ID']=stats['ID']
ensemble['Pred']=0.65*reg['Pred']+0.35*stats['Pred']
ensemble.head()

               ID      Pred
0  2018_3110_3113  0.157375
1  2018_3110_3114  0.481560
2  2018_3110_3124  0.009856
3  2018_3110_3125  0.277449
4  2018_3110_3129  0.740917

In [4]:
ensemble.loc[ensemble['Pred']>0.93].shape

(144, 2)

In [5]:
ensemble.to_csv("loss_0.65.csv",index=False)
print("Done")

Done

In [6]:
ensemble.loc[ensemble['ID']=='2018_3129_3257']  # seed 1 with seed 16 in lexington regional

                 ID      Pred
324  2018_3129_3257  0.012877

## CLIPPING

In [7]:
ensemble.loc[ensemble['Pred']>0.93].shape

(144, 2)

In [8]:
# clipping with 0.07
clip=ensemble.copy()
clip.loc[ensemble['Pred']>0.93,'Pred']=1
clip.loc[ensemble['Pred']<0.07,'Pred']=0
clip.to_csv("loss_0.65_clip_0.07.csv",index=False)
print("Done")

Done

## 0.6325 and 0.3675 ensemble

i will not submit this. the reason I don't know but I am feeling not to.

In [9]:
ensemble=pd.DataFrame()
ensemble['ID']=stats['ID']
ensemble['Pred']=0.6325*reg['Pred']+0.3675*stats['Pred']
ensemble.head()

               ID      Pred
0  2018_3110_3113  0.157715
1  2018_3110_3114  0.480640
2  2018_3110_3124  0.010164
3  2018_3110_3125  0.280287
4  2018_3110_3129  0.737577

In [10]:
ensemble.loc[ensemble['ID']=='2018_3129_3257']  # seed 1 with seed 16 in lexington regional

                 ID      Pred
324  2018_3129_3257  0.013112